{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "react-app",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "react",
    "jest"
  ],
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "rules": {
    // Only allow Prettier styles
    "prettier/prettier": [
      "error"
    ]
  }
}