.root {
    /* TODO move card like styles to storybook?____ */
    background-color: white;
    border-radius: 4px; 
    font-family: "Roboto";
    padding: 0.5rem 0;
}

h1 {
    font-family: sans-serif;
}

.mui-button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
        0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 8px 22px;
    transition: background-color 200ms;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.87);
    background-color: #e0e0e0;
}

.mui-button:hover {
    background-color: #777;
    transition: background-color 500ms;
}

.button-success {
    color: #fff;
    background-color: #4caf50;
}

.button-success:hover {
    background-color: #357a38;
}

.button-error {
    background-color: #f44336;
}

.image {
    height: 200px;
}

dialog {
    border: none;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.87);
}

dialog p {
    font-family: sans-serif;
}

dialog .dialog-actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

/* Mui like table styles */

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

tr {
    border-bottom: 1px solid rgba(224, 224, 224, 1);
}

tbody > tr:last-child {
    border-bottom: none;
}

th,
td {
    color: rgba(0, 0, 0, 0.87);
    padding: 0.2rem 0.5rem;
}

th {
    text-align: left;
    font-weight: 500;
}

td > button {
    width: 100%;
}
